<script>
     function SendCulture(culture)
     {
         document.getElementById('_cultureHidden').value = culture;
         document.getElementById('cultureForm').submit();
     }
 </script>  

<text>
    @using (Html.BeginForm("SetCulture", "Home", FormMethod.Post, new { id = "cultureForm" }))
    {
        @Html.Hidden("culture", null, new { id="_cultureHidden" })
        @Html.Hidden("returnUrl", Request.Url.AbsoluteUri)

        string ruStyle = ViewBag.Culture == "en" ? "label label-default" : "label label-primary";
        string enStyle = ViewBag.Culture == "ru" ? "label label-default" : "label label-primary";
        
        <a class="@ruStyle" href="javascript:SendCulture('ru')">ru</a>
        <a class="@enStyle" href="javascript:SendCulture('en')">en</a>
    }
</text>
<br />